body {
  font-family: "Inter", sans-serif;
  width: 100%;
  background: linear-gradient(90deg, rgb(41, 41, 41), rgb(12, 12, 12));
  color: white;
}

.input-container {
  flex-direction: column;
  width: 40%;
  margin-right: 20px;
}

.output-container {
  padding: 1rem;
  width: 400px;
  background-color: #f0f0f3;
  height: 420px;
}

h2 {
  color: rgb(221, 221, 221);
}

label {
  font-weight: 500;
  color: rgb(221, 221, 221);
}

input {
  font-size: 1rem;
  color: #252525;
  margin: 10px 0;
  padding: 15px;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

input::placeholder {
  color: #252525; /* Placeholder com cor mais clara */
  font-family: "Montserrat", sans-serif; /* Aplica a fonte 'Montserrat' ao placeholder */
}

input:focus {
  color: #252525; /* Aplica a cor preta ao texto quando o input está em foco */
  outline: none; /* Remove o outline padrão do navegador */
  box-shadow: 0 0 10px rgba(255, 97, 55, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

.circular-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

table {
  width: 100%; /* Assegura que a tabela se expanda para ocupar a largura disponível */
}

input[type="file"] {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
  border-radius: 2rem;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #ff6137;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  outline: none;
  color: white;
  transition: background-color 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #e55333;
}

.container {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

button {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: #ff6137;
  color: white;
  text-shadow: black;
  box-shadow: #000001;
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: #e55333;
  transform: translateY(-3px);
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-foto {
  display: flex;
  flex-direction: column;
}

#input-file {
  margin-top: -10px;
  margin-left: -50px;
}

#input-file:hover {
  cursor: pointer;
}

.linha-laranja {
  padding: 1px;
  border: none;
  background-color: #ff6137;
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1.5rem;
}
